<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1>This is a page about me</h1>
    <p>On this page you will learn some different things about me such as my favorite courses and foods</p>
    <p>This page will also show some of the courses I have taken at school</p>
    <p class="green">you will see my favorite foods From <strong>my most favorite to my least favorite</strong> </p>
    <p class="red">you will also see my least favorite foods <strong>in no particular order</strong></p>
    <p id="larger-bolder">My favorites are usually fruits and my least favorites are usually vegetables</p>
    <h2>My favorite foods</h2>
    <ol>
        <li>apples</li>
        <li>bananas</li>
        <li>pears</li>
        <li>spaghetti</li> <!-- this is not true, I like spaghetti the most out of everything on the list-->
    </ol>
    <h2>My least favorite foods</h2>
    <ul>
        <li>carrots</li>
        <li>cabbage</li>
        <li>brussel sprout</li>
        <li>beans</li>
    </ul>
    <h2>My classes</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td><em>BMGT402</em></td><!-- I got to take this class early because I was in the ITBT fellows program-->
            <td>Spring 2022</td>
        </tr>
        <tr>
            <td><em>BMGT403</em></td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>HIST110</td> <!-- This class was about the history of the ancient near east-->
            <td>Fall 2021</td>
        </tr>
    </table>
    <p>I have placed special emphasis on courses that are part of my information systems major</p>
    <h3>Here is my first ever webpage</h3>
    <p>Link to my first <a href="/hello">webpage</a></p>
    <h3>Favorite Websites</h3>
    <p>one of my favorite websites is <a href="https://www.lib.umd.edu/" Target="_blank">the UMD library website</a></p>
    <p>one of my favorite websites is <a href="https://www.coolmathgames.com/" Target="_blank">cool math games</a></p>
    <h3>My school</h3>
    <p>I go to the R.H Smith School of Business at The University of Maryland, here is a picture</p>
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         alt="Smith School Logo">
</body>
</html>