{% extends "base.html" %}

{% block page_title %}
    View All Volunteers
{% endblock %}

{% block page_head %}
    View All Volunteers
{% endblock %}

{% block page_content %}

    <div class="row">
    <div class="col">

    <table class="table table-striped">
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Major</th>
            <th>Is Honors?</th>
            {% if current_user.role in ['ADMIN', 'MANAGER'] %}
            <th>Actions</th>
            {% endif %}
        </tr>

        {% for each_volunteer, each_major in volunteers %}
        <tr>
            <td><a href="{{ url_for('volunteer_view', volunteer_id=each_volunteer['volunteer_id']) }}">{{ each_volunteer['last_name'] }}</a></td>
            <td>{{ each_volunteer['first_name'] }}</td>
            <td>{{ each_volunteer['email'] }}</td>
            <td>{{ each_major['major'] }}</td>
            <td>{{ 'Yes' if each_volunteer['is_honors'] == 1 else 'No' }}</td>
            {% if current_user.role in ['ADMIN', 'MANAGER'] %}
            <td>
                <a href="{{ url_for('volunteer_edit', volunteer_id=each_volunteer['volunteer_id']) }}" class="btn btn-secondary" role="button">Edit</a>
                {% if current_user.role in ['ADMIN'] %}
                <a href="{{ url_for('volunteer_delete', volunteer_id=each_volunteer['volunteer_id']) }}" class="btn btn-secondary" role="button">Delete</a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </div>
    </div>

    {% if current_user.role in ['ADMIN', 'MANAGER'] %}
    <div class="row">
        <div class="col">
            Total Number of Volunteers: {{ volunteers|length }}
        </div>
    </div>

    <div class="row">
        <div class="col text-center">
            <a href="{{ url_for('volunteer_create') }}" class="btn btn-primary" role="button">Add New Volunteer</a>
        </div>
    </div>
    {% endif %}

{% endblock %}


